<!DOCTYPE html>
<html>
<head>
  <title>My Best Tweets</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
    h1 {
      font-weight: bold;
      text-align: center;
      word-wrap: break-word;
      font-size: 20px;
      margin: 0 0 0.5em 0;
    }
    p {
      line-height: 1.2em;
      margin: 0 0 0.5em 0;
    }
    li {
      line-height: 1.2em;
      margin-bottom: 0.5em;
    }
    .about {
      font-size: 14px;
    }
    .about strong {
      font-weight: bold;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>My Best Tweets</h1>

  <p><img src="<%= @profile_image_url %>" /><%= @user_name %><br />
    @<%= @screen_name %></p>

<p>
@<%= @screen_name %> sent <%= @total_tweets %> Tweet<% if @total_tweets > 1 %>s<% end %> in the past <% if @days_to_fetch == 1 %>24 hours<% else %><%= @days_to_fetch %> days<% end -%>
<% if @tweets.length < @total_tweets -%>
. The most popular <% if @tweets.length == 1 %>was<% else %>were<% end -%>
<% end -%>
:    
</p>

  <ol>
    <% @tweets.each do |t| %>
      <li>
        <!-- <%= t[:score] %> -->
        <%= t[:text] %><br />
        <span class="about">
          <% if t[:retweet_count] > 0 %>
            <strong><%= t[:retweet_count] %></strong> Retweet<% if t[:retweet_count] != 1 %>s<% end %><% if t[:favorite_count] > 0 %>,<% end %>
          <% end %>
          <% if t[:favorite_count] > 0 %>
            <strong><%= t[:favorite_count] %></strong> Favorite<% if t[:favorite_count] != 1 %>s<% end %>
          <% end %>
          <% if t[:retweet_count] && t[:favorite_count] %>
            ∙
          <% end %>
          <%= t[:created_at].strftime('%l:%M%P, %e %h %Y') %>
        </span>
      </li>
    <% end %>
  </ol>
</body>
</html>