<!DOCTYPE html>
<html>
<head>
  <title>My Best Tweets</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
    }
    h1 {
      word-wrap: break-word;
      font-family:sans-serif;
    }
  </style>
</head>
<body>
  <% if @total_tweets <= @tweets.length %>
    <p>@TODO only sent <%= @total_tweets %> tweet<% if @total_tweets > 1 %>s<% end %> in the past <% if @days_to_fetch == 1 %>24 hours<% else %><%= @days_to_fetch %> days<% end %>:</p>

  <% else %>
    <p>@TODO tweeted <%= @total_tweets %> times in the past <% if @days_to_fetch == 1 %>day<% else %><%= @days_to_fetch %> days<% end %>. The most popular were:</p>

  <% end %>

  <ol>
    <% @tweets.each do |t| %>
      <li>
        <!-- <%= t[:score] %> --><%= t[:text] %><br />
        <%= t[:favorite_count] %> Favorite<% if t[:favorite_count] != 1 %>s<% end %>, <%= t[:retweet_count] %> Retweet<% if t[:retweet_count] != 1 %>s<% end %>
      </li>
    <% end %>
  </ol>
</body>
</html>