<!DOCTYPE html>
<html>
<head>
  <title>Your Best Tweets</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 22px 0 0 0;
      margin: 0px;
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 23px;
    }
    p {
      margin: 0 0 0.5em 0;
    }
    .certificate {
      border: 2px solid #000;
      padding: 3px;
    }
      .certificate-inner {
        border: 5px solid #000;
        padding: 0 10px;
      }
        img.logo {
          position: absolute;
          top: 0px;
          left: 167px;
        }
        h1 {
          font-family: georgia, serif;;
          font-style: italic;
          font-weight: normal;
          font-size: 36px;
          text-align: center;
          word-wrap: break-word;
          line-height: 30px;
          margin: 26px 0 4px 0;
          padding: 5px 0;
        }

        .intro {
          text-align: center;
        }
          .user {
            display: inline;
            text-align: left;
          }
            .user strong {
              font-size: 20px;
            }
            img.avatar {
              margin-right: 10px;
              border-radius: 5px;
              display: inline-block;
              vertical-align: top;
            }
            .user .names {
              display: inline-block;
            }
            img.avatar,
            .user .names {
              margin-bottom: 10px;
            }

        ol {
          list-style-type: none;
          padding: 0;
          margin: 0 0 20px 0;
        }
          li {
            margin: 7px 0 0 0;
            background: url(<%= domain %>/img/hr.png) 0 0 no-repeat;
            padding: 22px 0 0 0;
          }
            .position {
              display: inline-block;
              width: 10px;
              margin: 0 5px 0 5px;
              vertical-align: top;
              font-weight: bold;
            }
            .content {
              display: inline-block;
              width: 314px;
              margin: 0 5px 0 0;
            }
              .about {
                font-size: 14px;
              }
              .about strong {
                font-weight: bold;
                font-size: 18px;
              }
              .date {
                white-space: nowrap;
              }
  </style>
</head>
<body>
  <div class="certificate">
    <div class="certificate-inner">
      <img class="logo" src="<%= domain %>/img/twitter_logo.png" width="55" height="55" alt="Twitter logo" />

      <h1><img src="<%= domain %>/img/h1.png" width="289" height="43" alt="Your Best Tweets" /></h1>

      <div class="intro">
        <p class="user">
          <img class="avatar dither" src="<%= @profile_image_url %>" width="48" height="48" alt="User avatar" />
          <span class="names">
            <strong><%= @user_name %></strong><br />
            @<%= @screen_name %>
          </span>
        </p>

<p>
You sent <strong><%= @total_tweets %> Tweet<% if @total_tweets > 1 %>s<% end %></strong> in the past <% if @days_to_fetch == 1 %>24&nbsp;hours<% else %><%= @days_to_fetch %>&nbsp;days<% end -%>
<% if @tweets.length < @total_tweets -%>
.<br />
The most popular&nbsp;<% if @tweets.length == 1 %>was<% else %>were<% end -%>
<% end -%>
:    
</p>
      </div> <!-- .intro -->

      <ol>
        <% @tweets.each_with_index do |t, n| %>
          <li>
            <span class="position"><%= n + 1 %></span>
            <span class="content">
              <%= t[:text] %><br />
              <span class="about">
                <% if t[:retweet_count] > 0 %>
                  <strong><%= t[:retweet_count] %> Retweet<% if t[:retweet_count] != 1 %>s<% end %></strong><% if t[:favorite_count] > 0 %>,<% end %>
                <% end %>
                <% if t[:favorite_count] > 0 %>
                  <strong><%= t[:favorite_count] %> Favorite<% if t[:favorite_count] != 1 %>s<% end %></strong>
                <% end %>
                <% if t[:retweet_count] && t[:favorite_count] %>
                  ∙
                <% end %>
                <span class="date"><%= t[:created_at].strftime('%l:%M%P') %></span>
              </span>
            </span>
          </li>
        <% end %>
      </ol>
    </div> <!-- .certificate-inner -->
  </div> <!-- .certificate -->
</body>
</html>